/* 2k resolution */
@media screen and (min-width: 1921px) {
  .contactImg {
    height: 10em;
  }

  .img-size {
    width: 360px;
    height: 240px;
  }

  .fs-big {
    top: 40%;
    left: 30%;
    text-align: center;
    font-size: 10rem;
    opacity: 0.1;
    filter: blur(10px);
  }

  .fs-large {
    font-size: 7.5rem;
  }

  /* Titles such as "PROJECT","Full Stack Developer"... */
  .fs-title {
    font-size: 5rem;
  }

  .fs-brand {
    font-size: 3.5rem;
  }

  .fs-item {
    font-size: 1rem;
  }

  .home {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15%;
    padding-top: 10%;
    background-color: var(--primary);
    font-size: 1.5rem;
  }

  .introImg {
    width: 30em;
  }

  .projects {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    padding-top: 5%;
    text-align: center;
    font-size: 1.5rem;
  }

  .about {
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--white);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2560' height='440' preserveAspectRatio='none' viewBox='0 0 2560 440'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1171%26quot%3b)' fill='none'%3e%3cpath d='M487.397%2c174.677C502.338%2c175.543%2c518.549%2c171.794%2c526.221%2c158.944C534.036%2c145.853%2c529.736%2c129.69%2c522.152%2c116.464C514.52%2c103.156%2c502.732%2c90.82%2c487.397%2c91.245C472.548%2c91.657%2c462.458%2c105.01%2c455.826%2c118.302C449.995%2c129.987%2c449.277%2c143.46%2c455.658%2c154.854C462.19%2c166.518%2c474.05%2c173.903%2c487.397%2c174.677' fill='rgba(255%2c 193%2c 7%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1886.53 262.78 a109.33 109.33 0 1 0 218.66 0 a109.33 109.33 0 1 0 -218.66 0z' fill='rgba(255%2c 193%2c 7%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M2320.873%2c193.357C2339.923%2c194.86%2c2362.456%2c195.411%2c2372.427%2c179.11C2382.625%2c162.438%2c2373.128%2c141.714%2c2362.493%2c125.317C2352.984%2c110.656%2c2338.346%2c99.89%2c2320.873%2c99.621C2302.936%2c99.345%2c2285.518%2c108.227%2c2276.977%2c124.002C2268.781%2c139.141%2c2272.506%2c157.409%2c2281.713%2c171.955C2290.24%2c185.427%2c2304.978%2c192.103%2c2320.873%2c193.357' fill='rgba(255%2c 193%2c 7%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M573.432%2c282.972C607.748%2c282.504%2c636.756%2c261.366%2c655.061%2c232.336C674.923%2c200.838%2c687.818%2c162.136%2c670.371%2c129.239C652.05%2c94.693%2c612.534%2c78.042%2c573.432%2c78.417C535.012%2c78.785%2c498.119%2c97.371%2c479.658%2c131.067C461.827%2c163.613%2c468.364%2c203.036%2c487.857%2c234.614C506.304%2c264.496%2c538.318%2c283.45%2c573.432%2c282.972' fill='rgba(255%2c 193%2c 7%2c 1)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1171'%3e%3crect width='2560' height='440' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  }

  .arrow-up {
    width: 55px;
    height: 55px;
    bottom: 10%;
    right: 3.5%;
    text-align: center;
    font-size: 2.5rem;
    background-color: var(--primary);
    color: var(--dark);
    border-radius: 100%;
  }

  .arrow-up:hover {
    width: 55px;
    height: 55px;
    bottom: 10%;
    right: 3.5%;
    text-align: center;
    font-size: 2.5rem;
    background-color: var(--dark);
    color: var(--primary);
    border-radius: 100%;
  }

  .aboutImg {
    width: 15em;
  }

  .aboutGrid {
    padding-top: 2.5rem;
    padding-left: 10%;
    margin-top: 40px;
    height: 300px;
    display: grid;
    grid-template-areas: "a b";
  }

  .aboutGrid > #grid1 {
    grid-area: a;
    padding-top: 5%;
  }

  .aboutGrid > #grid2 {
    grid-area: b;
    text-align: start;
    padding-right: 30%;
    font-size: 1.5rem;
    border-radius: 15px;
    /* background-color: var(--primary); */
  }

  .contact {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-size: 1.2rem;
  }

  footer {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: var(--primary);
    color: var(--dark);
    text-align: center;
    font-size: 1.2rem;
  }
}

/* Full HD resolution */
@media screen and (max-width: 1920px) {
  .contactImg {
    height: 15em;
  }

  .img-size {
    width: 360px;
    height: 240px;
  }
  .fs-big {
    top: 40%;
    left: 24%;
    text-align: center;
    font-size: 10rem;
    opacity: 0.1;
    filter: blur(10px);
  }

  .arrow-up {
    width: 55px;
    height: 55px;
    bottom: 10%;
    right: 3.5%;
    text-align: center;
    font-size: 2.5rem;
    background-color: var(--primary);
    color: var(--dark);
    border-radius: 100%;
  }

  .arrow-up:hover {
    width: 55px;
    height: 55px;
    bottom: 10%;
    right: 3.5%;
    text-align: center;
    font-size: 2.5rem;
    background-color: var(--dark);
    color: var(--primary);
    border-radius: 100%;
  }

  .aboutImg {
    width: 10em;
  }

  .fs-large {
    font-size: 4rem;
  }

  /* Titles such as "PROJECT","Full Stack Developer"... */
  .fs-title {
    font-size: 7rem;
  }

  .fs-brand {
    font-size: 2.5rem;
  }

  .fs-item {
    font-size: 1rem;
  }

  .home {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15%;
    padding-top: 5%;
    background-color: var(--primary);
    font-size: 1.5rem;
  }

  .introImg {
    width: 15em;
  }

  .projects {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    text-align: center;
    font-size: 1.5rem;
  }

  .about {
    padding-left: 3%;
    padding-top: 5%;
    padding-bottom: 3%;
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--white);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='528' preserveAspectRatio='none' viewBox='0 0 1920 528'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1998%26quot%3b)' fill='none'%3e%3cpath d='M117.453%2c338.677C134.559%2c338.211%2c151.442%2c332.187%2c160.496%2c317.667C170.075%2c302.305%2c171.709%2c282.385%2c162.134%2c267.02C153.002%2c252.365%2c134.72%2c248.568%2c117.453%2c248.593C100.243%2c248.618%2c82.492%2c252.796%2c72.999%2c267.151C62.543%2c282.961%2c60.138%2c304.031%2c70.144%2c320.13C79.727%2c335.549%2c99.306%2c339.172%2c117.453%2c338.677' fill='rgba(255%2c 193%2c 7%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-2.115%2c275.223C14.241%2c276.328%2c31.285%2c270.308%2c39.642%2c256.205C48.135%2c241.874%2c46.058%2c223.471%2c36.734%2c209.666C28.386%2c197.306%2c12.8%2c194.282%2c-2.115%2c194.381C-16.807%2c194.478%2c-32.7%2c197.474%2c-40.084%2c210.175C-47.496%2c222.924%2c-42.556%2c238.416%2c-35.122%2c251.152C-27.765%2c263.757%2c-16.677%2c274.239%2c-2.115%2c275.223' fill='rgba(255%2c 193%2c 7%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1755.057%2c222.422C1777.474%2c221.847%2c1792.868%2c202.992%2c1804.597%2c183.88C1817.115%2c163.482%2c1829.192%2c140.028%2c1818.876%2c118.432C1807.418%2c94.444%2c1781.576%2c78.309%2c1755.057%2c80.17C1730.788%2c81.874%2c1716.109%2c104.738%2c1705.073%2c126.42C1695.307%2c145.606%2c1690.971%2c167.442%2c1700.913%2c186.538C1711.63%2c207.121%2c1731.859%2c223.017%2c1755.057%2c222.422' fill='rgba(255%2c 193%2c 7%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1620.134%2c520.494C1636.492%2c520.589%2c1651.742%2c511.531%2c1659.514%2c497.137C1666.938%2c483.388%2c1664.931%2c466.545%2c1656.299%2c453.521C1648.51%2c441.769%2c1634.233%2c437.625%2c1620.134%2c437.724C1606.245%2c437.822%2c1592.449%2c442.404%2c1584.842%2c454.025C1576.47%2c466.815%2c1574.372%2c483.182%2c1581.54%2c496.683C1589.137%2c510.992%2c1603.933%2c520.4%2c1620.134%2c520.494' fill='rgba(255%2c 193%2c 7%2c 1)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1998'%3e%3crect width='1920' height='528' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  }

  .contact {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-size: 1.2rem;
  }

  footer {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: var(--primary);
    color: var(--dark);
    text-align: center;
    font-size: 1.2rem;
  }

  .aboutGrid {
    margin-top: 40px;
    height: 300px;
    display: grid;
    grid-template-areas: "a b";
  }

  .aboutGrid > #grid1 {
    grid-area: a;
    padding-top: 0%;
  }

  .aboutGrid > #grid2 {
    grid-area: b;
    text-align: start;
    padding-right: 7%;
    font-size: 1.5rem;
    border-radius: 15px;
  }
}

/* Extra extra large resolution */
@media screen and (max-width: 1440px) {
  .img-size {
    width: 360px;
    height: 240px;
  }
  .fs-big {
    top: 40%;
    left: 25%;
    text-align: center;
    font-size: 7rem;
    opacity: 0.1;
    filter: blur(7px);
  }

  .arrow-up {
    width: 55px;
    height: 55px;
    bottom: 10%;
    right: 3.5%;
    text-align: center;
    font-size: 2.5rem;
    background-color: var(--primary);
    color: var(--dark);
    border-radius: 100%;
  }

  .arrow-up:hover {
    width: 55px;
    height: 55px;
    bottom: 10%;
    right: 3.5%;
    text-align: center;
    font-size: 2.5rem;
    background-color: var(--dark);
    color: var(--primary);
    border-radius: 100%;
  }

  .fs-brand {
    font-size: 3.5rem;
  }

  .fs-item {
    font-size: 1rem;
  }

  .home {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15%;
    padding-top: 5%;
    background-color: var(--primary);
    font-size: 1.5rem;
  }

  .projects {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    padding-top: 5%;
    text-align: center;
  }
}

/* Extra large resolution */
@media screen and (max-width: 1200px) {
  .img-size {
    width: 360px;
    height: 240px;
  }
  .fs-big {
    top: 40%;
    left: 20%;
    text-align: center;
    font-size: 7rem;
    opacity: 0.1;
    filter: blur(7px);
  }

  .introImg {
    width: 15em;
  }

  .fs-large {
    font-size: 3.5rem;
  }

  .fs-title {
    font-size: 4rem;
  }

  .fs-brand {
    font-size: 3.5rem;
  }

  .fs-item {
    font-size: 1rem;
  }

  .home {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15%;
    padding-top: 10%;
    background-color: var(--primary);
    font-size: 1.5rem;
  }

  .projects {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    padding-top: 5%;
    text-align: center;
    font-size: 1.25rem;
  }

  .about {
    text-align: center;
    font-size: 1.1rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='528' preserveAspectRatio='none' viewBox='0 0 1920 528'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1998%26quot%3b)' fill='none'%3e%3cpath d='M117.453%2c338.677C134.559%2c338.211%2c151.442%2c332.187%2c160.496%2c317.667C170.075%2c302.305%2c171.709%2c282.385%2c162.134%2c267.02C153.002%2c252.365%2c134.72%2c248.568%2c117.453%2c248.593C100.243%2c248.618%2c82.492%2c252.796%2c72.999%2c267.151C62.543%2c282.961%2c60.138%2c304.031%2c70.144%2c320.13C79.727%2c335.549%2c99.306%2c339.172%2c117.453%2c338.677' fill='rgba(255%2c 193%2c 7%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-2.115%2c275.223C14.241%2c276.328%2c31.285%2c270.308%2c39.642%2c256.205C48.135%2c241.874%2c46.058%2c223.471%2c36.734%2c209.666C28.386%2c197.306%2c12.8%2c194.282%2c-2.115%2c194.381C-16.807%2c194.478%2c-32.7%2c197.474%2c-40.084%2c210.175C-47.496%2c222.924%2c-42.556%2c238.416%2c-35.122%2c251.152C-27.765%2c263.757%2c-16.677%2c274.239%2c-2.115%2c275.223' fill='rgba(255%2c 193%2c 7%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1755.057%2c222.422C1777.474%2c221.847%2c1792.868%2c202.992%2c1804.597%2c183.88C1817.115%2c163.482%2c1829.192%2c140.028%2c1818.876%2c118.432C1807.418%2c94.444%2c1781.576%2c78.309%2c1755.057%2c80.17C1730.788%2c81.874%2c1716.109%2c104.738%2c1705.073%2c126.42C1695.307%2c145.606%2c1690.971%2c167.442%2c1700.913%2c186.538C1711.63%2c207.121%2c1731.859%2c223.017%2c1755.057%2c222.422' fill='rgba(255%2c 193%2c 7%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1620.134%2c520.494C1636.492%2c520.589%2c1651.742%2c511.531%2c1659.514%2c497.137C1666.938%2c483.388%2c1664.931%2c466.545%2c1656.299%2c453.521C1648.51%2c441.769%2c1634.233%2c437.625%2c1620.134%2c437.724C1606.245%2c437.822%2c1592.449%2c442.404%2c1584.842%2c454.025C1576.47%2c466.815%2c1574.372%2c483.182%2c1581.54%2c496.683C1589.137%2c510.992%2c1603.933%2c520.4%2c1620.134%2c520.494' fill='rgba(255%2c 193%2c 7%2c 1)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1998'%3e%3crect width='1920' height='528' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  }

  .aboutGrid > #grid2 {
    grid-area: b;
    text-align: start;
    padding-right: 7%;
    font-size: 1.2rem;
    border-radius: 15px;
  }

  .contact {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-size: 1rem;
  }
}

/* Large resolution */
@media screen and (max-width: 1024px) {
  .img-size {
    width: 300px;
    height: 200px;
  }
  .fs-big {
    top: 40%;
    left: 20%;
    text-align: center;
    font-size: 5rem;
    opacity: 0.1;
    filter: blur(5px);
  }

  /* .introImg {
    margin-top: 12%;
    width: 17em;
  } */

  .fs-title {
    font-size: 5rem;
  }

  .fs-brand {
    font-size: 3.5rem;
  }

  .fs-item {
    font-size: 1rem;
  }

  .introImg {
    width: 16em;
  }

  .home {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15%;
    padding-top: 10%;
    background-color: var(--primary);
    font-size: 1.17rem;
  }

  .projects {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    padding-top: 5%;
    text-align: center;
  }

  .aboutGrid > #grid2 {
    font-size: 1rem;
  }
}
