:root {
  --primary: var(--orange);
  --secondary: var(--gold);
  --red: #dc3545;
  --blood: #9c2834;
  --blue: #0d6efd;
  --ocean: #094bad;
  --ice: #cfe2ff;
  --green: #198754;
  --swamp: #12633d;
  --orange: #ffc107;
  --gold: #c79604;
  --black: black;
  --dark: #212529;
  --gray: #6c757d;
  --white: white;
}

.text-primary-color {
  color: var(--primary);
}

.bg-primary-color {
  background-color: var(--primary);
}

.btn-primary-color {
  background-color: var(--primary);
}

.btn-primary-color:hover {
  background-color: var(--secondary);
  color: var(--white);
}

.border-primary-left{
  border-left: 0.5rem solid;
  border-color: var(--primary);
}

.border-primary-right{
  border-right: 0.5rem solid;
  border-color: var(--primary);
}

body {
  font-family: "Rubik", sans-serif;
}

.blackShadow {
  box-shadow: 0px 0.5rem 1rem var(--black);
}

.blackShadow-sm {
  box-shadow: 0px 0.125rem 0.25rem var(--black);
}

.blackShadow-lg {
  box-shadow: 0px 1rem 3rem var(--black);
}

.svgShadow {
  filter: drop-shadow(0px 1rem 5px rgb(0 0 0 / 0.4));
}

.svgShadowUp {
  filter: drop-shadow(0px -1rem 5px rgb(0 0 0 / 0.4));
}

.bg-dark-gradient {
  background: rgb(60, 60, 60);
  background: linear-gradient(
    141deg,
    rgba(60, 60, 60, 1) 0%,
    rgba(51, 51, 51, 1) 3%,
    rgba(50, 50, 50, 1) 6%,
    rgba(49, 49, 49, 1) 9%,
    rgba(30, 30, 30, 1) 35%
  );
}

.fill-bg{
  position: absolute;
  padding-left: 3px;
  padding-right: 3px;
  transform: translateX(-3px);
  width: fit-content;
  display: inline-block;
}

.py-6{
  padding-top: 5%;
  padding-bottom: 5%;
}
