:root {
  --primary: var(--orange);
  --red: #dc3545;
  --blue: #0d6efd;
  --ice: #cfe2ff;
  --green: #198754;
  --orange: #ffc107;
  --gold: #c79604;
  --black: black;
  --dark: #212529;
  --gray: #6c757d;
  --white: white;
}

.text-primary-color {
  color: var(--primary);
}

.bg-primary-color {
  background-color: var(--primary);
}

body {
  font-family: "Rubik", sans-serif;
}

/* xxl */
@media screen and (max-width: 2560px) {
  .fs-big {
    top: 40%;
    left: 30%;
    text-align: center;
    font-size: 10rem;
    opacity: 0.1;
    filter: blur(10px);
  }

  .fs-large {
    font-size: 15rem;
  }

  .fs-title {
    font-size: 5rem;
  }

  .fs-brand {
    font-size: 3.5rem;
  }

  .fs-item {
    font-size: 1.5rem;
  }

  .home {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 35%;
    padding-top: 10%;
    background-color: var(--primary);
    font-size: 2rem;
  }

  .projects {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    padding-top: 5%;
    text-align: center;
    height: 100rem;
    font-size: 1.5rem;
  }
}
/* xl */
@media screen and (max-width: 1440px) {
  .fs-big {
    top: 40%;
    left: 25%;
    text-align: center;
    font-size: 7rem;
    opacity: 0.1;
    filter: blur(7px);
  }

  .fs-large {
    font-size: 10rem;
  }

  .fs-title {
    font-size: 5rem;
  }

  .fs-brand {
    font-size: 3.5rem;
  }

  .fs-item {
    font-size: 1rem;
  }

  .home {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 45%;
    padding-top: 10%;
    background-color: var(--primary);
    font-size: 1.5rem;
  }

  .projects {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    padding-top: 5%;
    text-align: center;
  }
}
/* lg */
@media screen and (max-width: 1024px) {
  .fs-big {
    top: 40%;
    left: 20%;
    text-align: center;
    font-size: 5rem;
    opacity: 0.1;
    filter: blur(5px);
  }

  .introImg {
    transform: scale(0.7);
  }

  .fs-title {
    font-size: 5rem;
  }

  .fs-brand {
    font-size: 3.5rem;
  }

  .fs-item {
    font-size: 1rem;
  }

  .home {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 45%;
    padding-top: 10%;
    background-color: var(--primary);
    font-size: 1.17rem;
  }

  .projects {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    padding-top: 5%;
    text-align: center;
  }
}
/* md */
@media screen and (max-width: 768px) {
  .fs-big {
    top: 40%;
    left: 30%;
    text-align: center;
    font-size: 3rem;
    opacity: 0.1;
    filter: blur(3px);
  }

  .introImg {
    transform: scale(0.5);
  }

  .fs-title {
    font-size: 5rem;
  }

  .fs-brand {
    font-size: 3.5rem;
  }

  .fs-item {
    font-size: 1rem;
  }

  .home {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 45%;
    padding-top: 10%;
    background-color: var(--primary);
    font-size: 1rem;
  }

  .projects {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    padding-top: 5%;
    text-align: center;
  }
}
/* sm */
@media screen and (max-width: 576px) {
  .fs-big {
    top: 40%;
    left: 20%;
    text-align: center;
    font-size: 2.7rem;
  }
}

.blackShadow {
  box-shadow: 0px 0.5rem 1rem var(--black);
}

.blackShadow-sm {
  box-shadow: 0px 0.125rem 0.25rem var(--black);
}

.blackShadow-lg {
  box-shadow: 0px 1rem 3rem var(--black);
}

.bg-dark-gradient {
  background: rgb(60, 60, 60);
  background: linear-gradient(
    141deg,
    rgba(60, 60, 60, 1) 0%,
    rgba(51, 51, 51, 1) 3%,
    rgba(50, 50, 50, 1) 6%,
    rgba(49, 49, 49, 1) 9%,
    rgba(30, 30, 30, 1) 35%
  );
}
